# Бинарные файлы и плагины
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тестовые бинарники Go
*.test

# Вывод инструмента покрытия кода
*.out

# Директория зависимостей (раскомментируйте, если используете vendor)
# vendor/

# Файлы рабочего пространства Go
go.work
go.work.sum

# Файлы окружения
.env
# Исключение для шаблонов .env
!.env.example

# Файлы и папки IDE
.idea/
.vscode/

# Системные файлы и директории
.DS_Store

# Логи
*.log

# Временные файлы редакторов
*~
*.swp
*.swo

# Кэш и временные файлы
*.cache
tmp/
temp/
